.swiper-wrapper{
    background-color: rgba(0, 0, 0, 0.3);
}

.product{
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    background-color: #F9F9F9;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.product-image-caption{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;

    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: rgba(0, 0, 0, 0.05);
}

.product-title{
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
}

.product-rating{
    color: red;
}

.about-us{
    height: auto !important;
    width: 100vw !important;
    max-width: 100vw;
}


.inside-block{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}


.description-paragraph{
    text-indent: 1.5rem;
}





