.ingredients-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(80px, 1fr));
}

.description-paragraph{
    text-indent: 1.5rem;
}

.consist{
    text-decoration: underline !important;
    cursor: pointer;
}